.apartment-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background-color: #ffffff;
  border-radius: 0.4em;
}

.apartment-details {
  display: inline;
}

.btn {
  display: inline;
  color: #ffffff;
  background-color: #f1463d;
  border: 0.1em solid #f9c6cc;
  border-radius: 0.4em;
  padding: 0.8em 2em 0.8em 2em;
}

.btn:hover {
  cursor: pointer;
}

.desc-btn {
  display: block;
  color: #fff;
  background-color: #0aa999;
  border: 0.1em solid #f9c6cc;
  border-radius: 0.4em;
  padding: 0.4em 1em 0.4em 1em;
  margin: 0.5em;
  margin-left: 0;
}

.desc-btn:hover {
  cursor: pointer;
}
